.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient( 135deg,rgba(179,229,252, 1) 0%, #2196F3 50%, #4CAF50 50%, #4CAF50 100%   );
  
}