.Jokelist{
    display: flex;
    width: 80%;
    height: 80%;
}

.Jokelist-sidebar{
    background: #9575cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
    inset 0 0 25px #7e57c2;
}

.Jokelist-title{
    font-size: 4rem;
    color:#FFF;
    margin:2rem;
    font-weight: 300;
    letter-spacing: 0.6rem;
}




.Jokelist-title span{
    font-weight: 700;
    letter-spacing: 0px;
}

.Jokelist-sidebar img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  }

.Jokelist-jokes {
    height: 90%;
    background: white;
    align-self: center;
    width: 70%;
    overflow: scroll;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  }

  @media screen and ( max-width: 600px ) and ( min-width: 200px ) {
    div.App{ height: initial; }
    .Jokelist{ display: block; }

    .Jokelist-sidebar { background: #9575cd; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 30%; text-align: center; box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.1), inset 0 0 25px #7e57c2; width: 100%; margin-top: 20px;}

    .Jokelist-sidebar button { color: #FFF; text-transform: uppercase; font-size: 25px; background: #09f; border: none; margin: 50px 0px 20px; border-radius: 5px; padding: 10px; font-weight: bold; }

    .Jokelist-jokes div { margin: 20px 0px; border-bottom: 1px dotted #ccc; padding-bottom: 25px; }
    .Jokelist-jokes div:last-child { border-bottom: none; }
  
    .Jokelist-jokes { height: initial; background: #fff; align-self: center; width: 100%; overflow: initial; margin: 30px 0px; padding: 10px;box-sizing: border-box; }
  }